@import-normalize;
/* armata-regular - latin */
@font-face {
  font-family: 'Armata';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/armata-v19-latin-regular.eot');
  src: local(''),
    url('fonts/armata-v19-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/armata-v19-latin-regular.woff2') format('woff2'),
    url('fonts/armata-v19-latin-regular.woff') format('woff'),
    url('fonts/armata-v19-latin-regular.ttf') format('truetype'),
    url('fonts/armata-v19-latin-regular.svg#Armata') format('svg');
}

body {
  margin: 0;
  font-family: 'Armata';

  background-color: #e0ebf1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}
